<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mgt-edit" th:object="${clientMgt}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">Pad 设备唯一ID：</label>
                <div class="col-sm-8">
                    <input name="clientId" th:field="*{clientId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属客户编号：</label>
                <div class="col-sm-8">
                    <input name="customerId" th:field="*{customerId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Pad客户端硬件唯一标识：</label>
                <div class="col-sm-8">
                    <input name="padImei" th:field="*{padImei}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Pad设备名称 ：</label>
                <div class="col-sm-8">
                    <input name="clientName" th:field="*{clientName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Pad客户端支持的听诊器数量：</label>
                <div class="col-sm-8">
                    <input name="deviceNum" th:field="*{deviceNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">pad app软件版本号：</label>
                <div class="col-sm-8">
                    <input name="softwareVersion" th:field="*{softwareVersion}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Pad客户端备案状态 1：无效 0：有效：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="1">
                        <label th:for="status" th:text="是"></label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" name="status" value="0">
                        <label th:for="status" th:text="否"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示排序：</label>
                <div class="col-sm-8">
                    <input name="sortOrder" th:field="*{sortOrder}" class="form-control" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/clientMgt";
        $("#form-mgt-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-mgt-edit').serialize());
            }
        }
    </script>
</body>
</html>