<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haitang.project.system.record.mapper.LocalConnRecordMapper">
    
    <resultMap type="LocalConnRecord" id="LocalConnRecordResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="connId"    column="conn_id"    />
        <result property="clientId"    column="client_id"    />
        <result property="connType"    column="conn_type"    />
        <result property="sendStethId"    column="send_steth_id"    />
        <result property="recvStethIdList"    column="recv_steth_id_list"    />
        <result property="duration"    column="duration"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectLocalConnRecordVo">
        select id, account, conn_id, client_id, conn_type, send_steth_id, recv_steth_id_list, duration, create_time, update_time, is_delete from local_conn_record
    </sql>

    <select id="selectLocalConnRecordList" parameterType="LocalConnRecord" resultMap="LocalConnRecordResult">
        <include refid="selectLocalConnRecordVo"/>
        <where>  
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="connId != null "> and conn_id = #{connId}</if>
            <if test="clientId != null  and clientId != ''"> and client_id = #{clientId}</if>
            <if test="connType != null "> and conn_type = #{connType}</if>
            <if test="sendStethId != null  and sendStethId != ''"> and send_steth_id = #{sendStethId}</if>
            <if test="recvStethIdList != null  and recvStethIdList != ''"> and recv_steth_id_list = #{recvStethIdList}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="createBegin != null "> and create_time &gt;= #{createBegin}</if>
            <if test="createEnd != null "> and create_time &lt;= #{createEnd}</if>
            <if test="updateBegin != null "> and update_time &gt;= #{updateBegin}</if>
            <if test="updateEnd != null "> and update_time &gt;= #{updateEnd}</if>
        </where>
    </select>
    
    <select id="selectLocalConnRecordById" parameterType="Long" resultMap="LocalConnRecordResult">
        <include refid="selectLocalConnRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLocalConnRecord" parameterType="LocalConnRecord">
        insert into local_conn_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="account != null  and account != ''">account,</if>
            <if test="connId != null ">conn_id,</if>
            <if test="clientId != null  and clientId != ''">client_id,</if>
            <if test="connType != null ">conn_type,</if>
            <if test="sendStethId != null  and sendStethId != ''">send_steth_id,</if>
            <if test="recvStethIdList != null  and recvStethIdList != ''">recv_steth_id_list,</if>
            <if test="duration != null ">duration,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="isDelete != null ">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="account != null  and account != ''">#{account},</if>
            <if test="connId != null ">#{connId},</if>
            <if test="clientId != null  and clientId != ''">#{clientId},</if>
            <if test="connType != null ">#{connType},</if>
            <if test="sendStethId != null  and sendStethId != ''">#{sendStethId},</if>
            <if test="recvStethIdList != null  and recvStethIdList != ''">#{recvStethIdList},</if>
            <if test="duration != null ">#{duration},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="isDelete != null ">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateLocalConnRecord" parameterType="LocalConnRecord">
        update local_conn_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null  and account != ''">account = #{account},</if>
            <if test="connId != null ">conn_id = #{connId},</if>
            <if test="clientId != null  and clientId != ''">client_id = #{clientId},</if>
            <if test="connType != null ">conn_type = #{connType},</if>
            <if test="sendStethId != null  and sendStethId != ''">send_steth_id = #{sendStethId},</if>
            <if test="recvStethIdList != null  and recvStethIdList != ''">recv_steth_id_list = #{recvStethIdList},</if>
            <if test="duration != null ">duration = #{duration},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="isDelete != null ">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLocalConnRecordById" parameterType="Long">
        delete from local_conn_record where id = #{id}
    </delete>

    <delete id="deleteLocalConnRecordByIds" parameterType="String">
        delete from local_conn_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>