<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haitang.project.system.info.mapper.SoundPatientInfoMapper">
    
    <resultMap type="SoundPatientInfo" id="SoundPatientInfoResult">
        <result property="id"    column="id"    />
        <result property="recordId"    column="record_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="soundType"    column="sound_type"    />
        <result property="diagnosis"    column="diagnosis"    />
        <result property="report1"    column="report_1"    />
        <result property="report2"    column="report_2"    />
        <result property="remark"    column="remark"    />
        <result property="enabled"    column="enabled"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectSoundPatientInfoVo">
        select id, record_id, patient_id, sound_type, diagnosis, report_1, report_2, remark, enabled, create_time, update_time, is_delete from sound_patient_info
    </sql>

    <select id="selectSoundPatientInfoList" parameterType="SoundPatientInfo" resultMap="SoundPatientInfoResult">
        <include refid="selectSoundPatientInfoVo"/>
        <where>  
            <if test="recordId != null  and recordId != ''"> and record_id = #{recordId}</if>
            <if test="patientId != null  and patientId != ''"> and patient_id = #{patientId}</if>
            <if test="soundType != null "> and sound_type = #{soundType}</if>
            <if test="diagnosis != null  and diagnosis != ''"> and diagnosis = #{diagnosis}</if>
            <if test="report1 != null  and report1 != ''"> and report_1 = #{report1}</if>
            <if test="report2 != null  and report2 != ''"> and report_2 = #{report2}</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="createBegin != null "> and create_time &gt;= #{createBegin}</if>
            <if test="createEnd != null "> and create_time &lt;= #{createEnd}</if>
            <if test="updateBegin != null "> and update_time &gt;= #{updateBegin}</if>
            <if test="updateEnd != null "> and update_time &gt;= #{updateEnd}</if>
        </where>
    </select>
    
    <select id="selectSoundPatientInfoById" parameterType="Long" resultMap="SoundPatientInfoResult">
        <include refid="selectSoundPatientInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSoundPatientInfo" parameterType="SoundPatientInfo">
        insert into sound_patient_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="recordId != null  and recordId != ''">record_id,</if>
            <if test="patientId != null  and patientId != ''">patient_id,</if>
            <if test="soundType != null ">sound_type,</if>
            <if test="diagnosis != null  and diagnosis != ''">diagnosis,</if>
            <if test="report1 != null  and report1 != ''">report_1,</if>
            <if test="report2 != null  and report2 != ''">report_2,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="enabled != null ">enabled,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="isDelete != null ">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="recordId != null  and recordId != ''">#{recordId},</if>
            <if test="patientId != null  and patientId != ''">#{patientId},</if>
            <if test="soundType != null ">#{soundType},</if>
            <if test="diagnosis != null  and diagnosis != ''">#{diagnosis},</if>
            <if test="report1 != null  and report1 != ''">#{report1},</if>
            <if test="report2 != null  and report2 != ''">#{report2},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="enabled != null ">#{enabled},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="isDelete != null ">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateSoundPatientInfo" parameterType="SoundPatientInfo">
        update sound_patient_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null  and recordId != ''">record_id = #{recordId},</if>
            <if test="patientId != null  and patientId != ''">patient_id = #{patientId},</if>
            <if test="soundType != null ">sound_type = #{soundType},</if>
            <if test="diagnosis != null  and diagnosis != ''">diagnosis = #{diagnosis},</if>
            <if test="report1 != null  and report1 != ''">report_1 = #{report1},</if>
            <if test="report2 != null  and report2 != ''">report_2 = #{report2},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="enabled != null ">enabled = #{enabled},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="isDelete != null ">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSoundPatientInfoById" parameterType="Long">
        delete from sound_patient_info where id = #{id}
    </delete>

    <delete id="deleteSoundPatientInfoByIds" parameterType="String">
        delete from sound_patient_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>