<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haitang.project.system.soundSelect.mapper.SoundSelectMapper">
    
    <resultMap type="com.haitang.project.system.soundSelect.domain.SoundSelect" id="SoundSelectResult">
        <id property="id"       column="id"       />
        <result property="value"    column="value"    />
        <result property="type"     column="type"     />

    </resultMap>
    <select id="selectNoticeVo" parameterType="java.lang.Integer" resultMap="SoundSelectResult">
        select id, value, type from sound_select
        <if test="type != null and type != ''">
            where type = #{type}
        </if>

    </select>
</mapper>