<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-detail-edit" th:object="${soundPatientDetail}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">患者唯一标识ID：</label>
                <div class="col-sm-8">
                    <input name="patientId" th:field="*{patientId}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">数据记录数量</label>
                <div class="col-sm-8">
                    <input name="dataNum" th:field="*{dataNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">心率：</label>
                <div class="col-sm-8">
                    <input name="heartRate" th:field="*{heartRate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">血压：</label>
                <div class="col-sm-8">
                    <input name="bloodPressure" th:field="*{bloodPressure}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其它：</label>
                <div class="col-sm-8">
                    <input name="other" th:field="*{other}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">听诊：</label>
                <div class="col-sm-8">
                    <input name="auscultation" th:field="*{auscultation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">心电图：</label>
                <div class="col-sm-8">
                    <input name="eeg" th:field="*{eeg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">心超：</label>
                <div class="col-sm-8">
                    <input name="heartSoul" th:field="*{heartSoul}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">治疗方案：</label>
                <div class="col-sm-8">
                    <input name="treatmentPlan" th:field="*{treatmentPlan}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态</label>
                <div class="col-sm-8">
                    <input name="enabled" th:field="*{enabled}" class="form-control" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/detail";
        $("#form-detail-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-detail-edit').serialize());
            }
        }
    </script>
</body>
</html>