<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>客户ID：</p>
                                <input type="text" name="customerId"/>
                            </li>

                            <li>
                                <p>客户名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>客户联系方式：</p>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <p>省份：</p>
                                <input type="text" name="province"/>
                            </li>
                            <li>
                                <p>城市：</p>
                                <input type="text" name="city"/>
                            </li>


                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:mgt:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:mgt:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:mgt:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:mgt:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:mgt:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:mgt:remove')}]];
        var prefix = ctx + "system/mgt";
        var datas = [[${@dict.getType('sys_yes_no')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },

                {
                    field : 'customerId', 
                    title : '客户ID'
                },
                {
                    field : 'prevId', 
                    title : 'customer_id '
                },
                {
                    field : 'name', 
                    title : '客户名称'
                },
                {
                    field : 'phone', 
                    title : '客户联系方式'
                },
                {
                    field : 'address', 
                    title : '客户地址'
                },
                {
                    field : 'province', 
                    title : '省份'
                },
                {
                    field : 'city', 
                    title : '城市'
                },
                {
                    field : 'deviceNum', 
                    title : '备案的听诊器设备数量'
                },
                {
                    field : 'clientNum', 
                    title : '备案的pad客户端数量'
                },
                {
                    field : 'accountNum', 
                    title : '备案的账号数量'
                },
                {
                    field : 'remark', 
                    title : '客户备注'
                },
                {
                    field : 'sortOrder', 
                    title : '显示排序'
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>