<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增身体部位录音')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-soundPatientBody-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">录音的编号，每次录音生成一个唯一编号：</label>
                <div class="col-sm-8">
                    <input name="recordId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">声音类型</label>
                <div class="col-sm-8">
                    <select name="soundType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">身体部位ID：</label>
                <div class="col-sm-8">
                    <input name="bodyId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">声音的文件URL：</label>
                <div class="col-sm-8">
                    <input name="soundUrl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">声音时长 ：</label>
                <div class="col-sm-8">
                    <input name="duration" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态</label>
                <div class="col-sm-8">
                    <input name="enabled" class="form-control" type="text">
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/soundPatientBody"
        $("#form-soundPatientBody-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-soundPatientBody-add').serialize());
            }
        }
    </script>
</body>
</html>